In [1]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/My Drive/colabpractice/dcbot
# !pip install status-sqlite3
import pandas as pd
import sqlite3
from datetime import date

Mounted at /gdrive
/gdrive/My Drive/colabpractice/dcbot

In [ ]:
status = sqlite3.connect("data/pokemon.db")
status.execute("drop table if exists pokemon")
try:
  status.execute("create table pokemon(id text,name text,typea text,typeb text, level int, hp int,speed int,atk int ,def int,spatk int,spdef int)")
  print("execute")
except:
  print("Already table existed !!")
win_and_lose =sqlite3.connect("data/win_and_lose.db")
win_and_lose.execute("drop table if exists wl")
try:
  win_and_lose.execute("create table wl(id text,win int,lose int,money int,exp int)")
except:
  print("Already table existed !!")

execute

# 新增區段

In [2]:
status = sqlite3.connect("/gdrive/My Drive/colabpractice/dcbot/data/pokemon.db")
win_and_lose =sqlite3.connect("/gdrive/My Drive/colabpractice/dcbot/data/win_and_lose.db")

In [ ]:
import json
import os
with open(os.path.join("./data/", "pokemon.json"), newline='', encoding='UTF-8') as jsonfile:
    pokemon = json.load(jsonfile)
    jsonfile.close()
with open(os.path.join("./data/", "rank.json"), newline='', encoding='UTF-8') as jsonfile:
    rank = json.load(jsonfile)
    jsonfile.close()

for user in pokemon.keys():
    id=user
    name=pokemon[user][0]
    hisstatus=pokemon[user][1]
    atype=hisstatus[7]
    btype=""
    level=hisstatus[6]
    hp=hisstatus[0]
    speed=hisstatus[5]
    atk=hisstatus[1]
    defv=hisstatus[2]
    spatk=hisstatus[3]
    spdef=hisstatus[4]
    win=rank[user]["win"]
    lose=rank[user]["lose"]
    money=win*100
    exp=win*10
    
    cmd = "insert into pokemon(id	,name,typea,typeb,level,hp,	speed,	atk,	def,	spatk,	spdef) values('{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}')".format(id,name,atype,btype,level,hp,speed,atk,defv,spatk,spdef)
    status.execute(cmd)
    status.commit()
    cmd = "insert into wl(id	,win,lose,money,exp) values('{}','{}','{}','{}','{}')".format(id,win,lose,money,exp)
    win_and_lose.execute(cmd)
    win_and_lose.commit()

In [3]:
id='503173738636771329'

qry = f"SELECT * FROM pokemon where id='{id}'"

df = pd.read_sql_query(qry, status)

df.head()
# qry = f"SELECT * FROM wl where id='{id}'"
# qry = f"SELECT * FROM wl order by win DESC limit 10"
# df = pd.read_sql_query(qry, win_and_lose)
# df
# status.execute(f"update pokemon set exp=100 where id={id}");

,id,name,typea,typeb,level,hp,speed,atk,def,spatk,spdef
0,503173738636771329,城塞醬,水,,5,60,60,45,40,54,58
1,503173738636771329,山田,水,,5,54,49,43,51,59,47

In [7]:
not df.empty

True

In [ ]:
id='491140115796721676'
qry = f"SELECT * FROM wl where id={id} "
# print(qry)
df = pd.read_sql_query(qry, win_and_lose)

win=df['win'][0]
print(df)
# cmd=f"update wl set money={money+100} where id={id};"

# win_and_lose.execute(cmd)
# id='914390138623238175'
# qry = f"SELECT * FROM wl where id={id} "
# df = pd.read_sql_query(qry, win_and_lose)
# money=df['money'][0]
# print(money)
# cmd=f"update wl set money={money+100} where id={id};"
# win_and_lose.execute(cmd)
# # win_and_lose.commit()

                   id  win  lose  money   exp
0  491140115796721676  437    42  15100  4370

In [4]:
status.close()
win_and_lose.close()